---
layout: binder
name:   post
---

<article>
    {% if page.publish_date %}<div class="date">{{ page.publish_date }}</div>{% endif %}
    {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
    {{ content }}
</article>

{% include comments.ext %}

<!--
<hr />
<table>
<tr>
<td>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="tomheon" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></td>
<td>
<! -- Place this tag where you want the +1 button to render -- >
<g:plusone annotation="inline" size="small" width="200"></g:plusone>

</td>
<td>
<div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true"></div>
</td></tr></table>
-->

